python-terrier==0.9.2
pandas
nltk==3.8.1
pyterrier-doc2query @ git+https://github.com/terrierteam/pyterrier_doc2query.git@792dd95733258421da2a3bdc26e8a59a59c6d03b
pyterrier-t5 @ git+https://github.com/terrierteam/pyterrier_t5.git@63756ebc2968ab03f46a61f0b391e27873226d75